@font-face {
  font-family: 'sukhumvit_setbold';
  src: url('fonts/sukhumvit_set_bold-webfont.eot');
  src: url('fonts/sukhumvit_set_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/sukhumvit_set_bold-webfont.woff2') format('woff2'),
       url('fonts/sukhumvit_set_bold-webfont.woff') format('woff'),
       url('fonts/sukhumvit_set_bold-webfont.ttf') format('truetype'),
       url('fonts/sukhumvit_set_bold-webfont.svg#sukhumvit_setbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sukhumvit_setthin';
  src: url('fonts/sukhumvit_set_thin-webfont.eot');
  src: url('fonts/sukhumvit_set_thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/sukhumvit_set_thin-webfont.woff2') format('woff2'),
       url('fonts/sukhumvit_set_thin-webfont.woff') format('woff'),
       url('fonts/sukhumvit_set_thin-webfont.ttf') format('truetype'),
       url('fonts/sukhumvit_set_thin-webfont.svg#sukhumvit_setthin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sukhumvit_setmedium';
  src: url('fonts/sukhumvit_set_medium-webfont.eot');
  src: url('fonts/sukhumvit_set_medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/sukhumvit_set_medium-webfont.woff2') format('woff2'),
       url('fonts/sukhumvit_set_medium-webfont.woff') format('woff'),
       url('fonts/sukhumvit_set_medium-webfont.ttf') format('truetype'),
       url('fonts/sukhumvit_set_medium-webfont.svg#sukhumvit_setmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cormorant_garamondsemibold';
  src: url('fonts/cormorantgaramond-semibold-webfont.eot');
  src: url('fonts/cormorantgaramond-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/cormorantgaramond-semibold-webfont.woff2') format('woff2'),
       url('fonts/cormorantgaramond-semibold-webfont.woff') format('woff'),
       url('fonts/cormorantgaramond-semibold-webfont.ttf') format('truetype'),
       url('fonts/cormorantgaramond-semibold-webfont.svg#cormorant_garamondsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table, tbody, tfoot, thead, tr, th, td{ vertical-align:top; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
html{ overflow-y:scroll; }
body{  
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  word-wrap:break-word;
  color:#425055;
}

* {
    -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
     -ms-box-sizing: border-box;
         box-sizing: border-box;
}
*:before,
*:after {
    -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
     -ms-box-sizing: border-box;
        box-sizing: border-box;
}

a{ text-decoration: none; }

.d-flex{ display:flex; flex-wrap:wrap; }
.align-items-center{ 
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}
.text-center{ text-align: center; }
.container{ max-width:1800px; width:95%; margin:auto; }
.position-relative{ position:relative; }
.position-absolute{ position:absolute; }

#top{ padding:20px 0 20px; font-size:16px; }
#top .lang{ font-family: 'sukhumvit_setmedium'; }
#top .lang a{ color:#94928f; }
#top .lang a.active{ color:#1d1d1d; }
#top .lang span{ padding:0 7px; color:#1d1d1d; }
#top .close{ font-family:'sukhumvit_setthin'; color:#555; margin-left:auto; position:relative; padding-right:22px; }
#top .close::before, #top .close::after { position: absolute; width:18px; height: 1px; content: ""; display: block; background: #555; top:8px; right:0; }
#top .close::before { transform: rotate(45deg); }
#top .close::after { transform: rotate(-45deg); }

.line{ margin:auto; width:1px; height:25px; background-color:#4c4a49; }

#main .container{ padding:60px 96px; }

#main .frame{ background-color:#818285; position:absolute; }
#main .frame-vertical{ width:12px; height:100%; top:0; }
#main .frame-horizontal{ width:100%; height:12px; left:0; }
#main #frame-top{ top:0; }
#main #frame-right{ right:0; }
#main #frame-bottom{ bottom:0; }
#main #frame-left{ left:0; }
#main .hide-frame{ width:27px; height:164px; background-color:#fff; top:50%; transform: translateY(-50%); position:absolute; }
#main #hide-frame-left{ left:-13px; }
#main #hide-frame-right{ right:0; }

#main .frame-overlay{ position:absolute; }
#main .frame-overlay-vertical{ height:100%; top:0; background-repeat: repeat-y; }
#main .frame-overlay-horizontal{ width:100%; background-repeat: repeat-x; left:0; }
#main #frame-overlay-top{ height:60px; top:-9px; background-image:url('images/frame-overlay-top.jpg'); }
#main #frame-overlay-bottom{ height:68px; bottom:-40px; background-image:url('images/frame-overlay-bottom.jpg'); }
#main #frame-overlay-right{ width:65px; right:-38px; background-image:url('images/frame-overlay-right.jpg');  }
#main #frame-overlay-left{ width:67px; left:-19px; background-image:url('images/frame-overlay-left.jpg'); }
#main #frame-overlay-corner-top-left{ width:67px; height:60px; top:-9px; left:-19px; background-image:url('images/frame-overlay-corner-top-left.jpg'); }
#main #frame-overlay-corner-top-right{ width:65px; height:60px; top:-9px; right:-38px; background-image:url('images/frame-overlay-corner-top-right.jpg'); }
#main #frame-overlay-corner-bottom-left{ width:67px; height:69px; bottom:-41px; left:-19px; background-image:url('images/frame-overlay-corner-bottom-left.jpg'); }
#main #frame-overlay-corner-bottom-right{ width:65px; height:69px; bottom:-41px; right:-38px; background-image:url('images/frame-overlay-corner-bottom-right.jpg'); }
#main .hide-frame-overlay{ height:202px; position:absolute; background-color:#fff; background-repeat: no-repeat, no-repeat; }
#main #hide-frame-overlay-left{ width:67px; top:39%; left:-19px; background-image:url('images/hide-overlay-left-top.jpg'), url('images/hide-overlay-left-bottom.jpg'); background-position: left -13px, left 152px; }
#main #hide-frame-overlay-right{ width:65px; top:39%; right:-38px; background-image:url('images/hide-overlay-right-top.jpg'), url('images/hide-overlay-right-bottom.jpg'); background-position:left -13px, left 152px; }
#main .middle-line-bottom{ width:90px; height:14px; background-color: #818285; bottom:0.9em; left:50%; margin-left:-45px; }

#main .box-desc{ width:35%; padding-right:100px; }
#main .box-video{ max-width:1200px; width:65%; }
.video-wrap{ width:100%; padding-top:56.25%; }
.video-wrap iframe{ top:0; left:0; width:100%; height:100%; }
#main .box-desc h1{ font-family: 'sukhumvit_setmedium'; color:#808184; font-size:30px; line-height: 1.1; margin-top:30px; }
#main .box-desc .line{ margin-top:25px; margin-bottom:30px; }
#main .box-desc h3{ color:#48484a; font-family: 'sukhumvit_setbold'; line-height: 2; font-size:15px; }
#main .box-desc p{ color:#888; font-family: 'sukhumvit_setmedium'; line-height: 2; font-size:15px; }

#nav{ padding:25px 0 30px; }
#nav .line{ margin-bottom:20px; position: relative; }
#nav a{ font-family: 'cormorant_garamondsemibold'; color:#4c4a49; font-size:25px; width:235px; }

.d-mobile-block{ display:none; }

@media (max-width: 1600px){
  .container{ width:94%; }
  #main .box-desc h1{ font-size:24px; }
}

@media (max-width: 1400px){
  #top{ padding:15px 0; }
  #main .container{ padding:35px 40px 45px; }
  #main  #content-box{ z-index: 10; position: relative; }
  #main #logo img{ height:65px; }
  #main .box-desc{ padding-right:40px; }
  #main .box-desc h1{ font-size:20px; margin-top:15px; }
  #main .box-desc .line{ margin-top:15px; margin-bottom:15px; }
  #main .box-desc h3, #main .box-desc p{ line-height:1.6; }
  #nav{ z-index: 10; position:relative; padding:20px 0 10px; }
  #nav .line{ margin-bottom:15px; }
  #nav a{ font-size:22px; }
}

@media (max-width: 1200px){
  .container{ width:90%; }
  #main .container{ padding:60px 35px; }
  #main .box-desc{ padding-right:20px; }
  #main .box-desc h1{ font-size:22px; }
}

@media (max-width: 900px){
  #main .container{ padding:50px; }
  #content-box{ -ms-flex-direction: column !important; flex-direction: column !important; -ms-flex-direction: column-reverse !important; flex-direction: column-reverse !important; }
  #main .box-video{ width:100%; margin-bottom:40px; }
  #main .box-desc{ width:100%; padding-right:0; padding-bottom:20px; }
  #nav a{ font-size:20px; width:185px; }
}

@media (max-width:767px){
  #main .container{ width:94%; padding:30px; }
  #nav .d-flex{ -ms-flex-direction: column !important; flex-direction: column !important; margin-top:20px; }
  #nav a{ margin:0 auto 20px; }
  .d-mobile-none{ display:none; }
  .d-mobile-block{ display:block; }
}